.Admin {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Admin-h1 {
  margin: 0;
}

.Admin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: span 2;

  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  border-bottom: 2px solid white;
}

.Admin-return {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  cursor: pointer;
  transition: ease scale 0.2s;
}
.Admin-return:focus,
.Admin-return:hover {
  scale: 1.25;
}

.Admin-logo {
  height: 50px;
  pointer-events: none;
}

.Admin-main {
  grid-column: 1;
  grid-row: 2;
  padding: 1rem;
  border-right: 1px solid white;
}

.Admin-section {
  margin-bottom: 1rem;
}

.Admin-add-item {
  border-radius: 50px;
  padding: 1rem;
  transition: ease scale 0.2s;
}
.Admin-add-item:hover,
.Admin-add-item:focus {
  scale: 1.25;
}

/* Item List */
.Admin-items-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 1rem;
  gap: 0.5rem;
}

.Admin-list-item {
  padding: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  width: fit-content;
  border-radius: 50px;
  transition: ease scale 0.2s;
}

.Admin-list-item:hover,
.Admin-list-item:focus {
  scale: 1.25;
}

.Admin-aside {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-column: 2;
  grid-row: 2;
  padding: 1rem;
}

.Admin-aside h1 {
  margin: 0;
  height: fit-content;
}

.Admin-aside-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: ease scale 0.2s;
}
.Admin-aside-close:hover,
.Admin-aside-close:focus {
  scale: 1.25;
}

.Admin-add-form {
}
.Admin-edit-form {
  display: flex;
  flex-direction: column;
}
.Admin-edit-form span {
  color: yellow;
}
.Admin-edit-form label {
  font-size: larger;
}
.Admin-edit-form input {
  font-size: larger;
  margin-bottom: 0.5rem;
}
.Admin-edit-form input::placeholder {
  color: black;
}
.Admin-edit-form button {
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  padding: 0.5rem;
}
