.Showcase {
  display: flex;
  flex-direction: column;

  background-color: #5d2504;
  min-height: 100vh;
}

.Showcase-header {
  padding: 1rem;
}

.Showcase-return {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  cursor: pointer;
  transition: ease scale 0.2s;
}
.Showcase-return:focus,
.Showcase-return:hover {
  scale: 1.25;
}

.Showcase-logo {
  height: 50px;
  pointer-events: none;
}

.Showcase-main {
  padding: 1rem;
  color: white;

  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
}

/* Item */
.Showcase-item {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 20px;
}

.Showcase-item-name-br {
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
}
.Showcase-item-name-en {
  font-size: 1.5rem;
}

.Showcase-item-price {
  font-size: 2rem;
}

.Showcase-item-money-symbol {
  font-size: 1.5rem;
}
